<mat-drawer-container autosize style="height: 100%; background-color: #efefef">
  <!-- toolbar -->
  <mat-toolbar color="primary" class="mat-elevation-z5">
    <button mat-icon-button aria-label="Toolbar menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="flex: 1"></span>
    <button mat-icon-button aria-label="Account" [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>

  <!-- drawer -->
  <mat-drawer #drawer mode="over" style="min-width: 300px">
    <mat-toolbar color="primary">
      <mat-toolbar-row style="gap: 5px">
        <mat-icon>account_circle</mat-icon>
        <span>User</span>
      </mat-toolbar-row>
      <mat-toolbar-row style="gap: 5px">
        <mat-icon>mail</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>

  <!-- page content -->
  <div>
    <a routerLink="/amanita">Inicio</a> |
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
